<a href="https://colab.research.google.com/github/CMMendi/Curso_Analisis_Datos/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
alquiler_municipios= pd.read_csv(r'/alquiler-madrid-municipios.csv',  index_col=False)

In [ ]:
alquiler_municipios.head()

           municipio   ano  quarter    precio
0  Alcalá De Henares  2009        4  8.561386
1         Alcobendas  2009        4       NaN
2           Alcorcón  2009        4  8.792037
3          Alpedrete  2009        4       NaN
4           Aranjuez  2009        4  7.750625

In [ ]:
alquiler_municipios.tail()

                    municipio   ano  quarter     precio
1185             Torrelodones  2018        2  10.553534
1186              Tres Cantos  2018        2  10.781348
1187                Valdemoro  2018        2   7.812653
1188  Villanueva De La Cañada  2018        2  11.632276
1189     Villaviciosa De Odón  2018        2  14.050801

In [ ]:
alquiler_municipios.shape

(1190, 4)

In [ ]:
!git init

Reinitialized existing Git repository in /content/.git/

In [ ]:
!git status

On branch master

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)

	new file:   .config/.last_opt_in_prompt.yaml
	new file:   .config/.last_survey_prompt.yaml
	new file:   .config/.last_update_check.json
	new file:   .config/.metricsUUID
	new file:   .config/active_config
	new file:   .config/config_sentinel
	new file:   .config/configurations/config_default
	new file:   .config/gce
	new file:   .config/logs/2021.01.06/18.08.59.464978.log
	new file:   .config/logs/2021.01.06/18.09.18.488400.log
	new file:   .config/logs/2021.01.06/18.09.32.091151.log
	new file:   .config/logs/2021.01.06/18.09.37.271649.log
	new file:   .config/logs/2021.01.06/18.09.52.134983.log
	new file:   .config/logs/2021.01.06/18.09.52.643360.log
	new file:   sample_data/README.md
	new file:   sample_data/anscombe.json
	new file:   sample_data/california_housing_test.csv
	new file:   sample_data/california_housing_train.csv
	new file:   sample_data/mnist_test.csv
	new file:   sample_data/mnist_train_small.csv

In [ ]:
!git rm -r *

error: the following files have changes staged in the index:
    sample_data/README.md
    sample_data/anscombe.json
    sample_data/california_housing_test.csv
    sample_data/california_housing_train.csv
    sample_data/mnist_test.csv
    sample_data/mnist_train_small.csv
(use --cached to keep the file, or -f to force removal)

In [ ]:
!git rm -r --cached .

rm '.config/.last_opt_in_prompt.yaml'
rm '.config/.last_survey_prompt.yaml'
rm '.config/.last_update_check.json'
rm '.config/.metricsUUID'
rm '.config/active_config'
rm '.config/config_sentinel'
rm '.config/configurations/config_default'
rm '.config/gce'
rm '.config/logs/2021.01.06/18.08.59.464978.log'
rm '.config/logs/2021.01.06/18.09.18.488400.log'
rm '.config/logs/2021.01.06/18.09.32.091151.log'
rm '.config/logs/2021.01.06/18.09.37.271649.log'
rm '.config/logs/2021.01.06/18.09.52.134983.log'
rm '.config/logs/2021.01.06/18.09.52.643360.log'
rm 'sample_data/README.md'
rm 'sample_data/anscombe.json'
rm 'sample_data/california_housing_test.csv'
rm 'sample_data/california_housing_train.csv'
rm 'sample_data/mnist_test.csv'
rm 'sample_data/mnist_train_small.csv'

In [ ]:
!git status

On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	.config/
	sample_data/

nothing added to commit but untracked files present (use "git add" to track)